<h2>@ViewBag.Title</h2>
<p data-bind="text: MessageToClient"></p>
<div>
    <div>
        <label>Customer name:</label>
        <span data-bind="text: CustomerName"></span>
    </div>
    <div>
        <label>PO number:</label>
        <span data-bind="text: PoNumber"></span>
    </div>
</div>
@Html.Hidden("urlSavePost", Url.Action("Save"))
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
